/* Coolors Exported Palette - coolors.co/0b0033-3db878-73eedc-73c2be-776885 */

/* HSL */
$color1: hsla(253%, 100%, 10%, 1);
$color2: hsla(149%, 50%, 48%, 1);
$color3: hsla(171%, 78%, 69%, 1);
$color4: hsla(177%, 39%, 61%, 1);
$color5: hsla(271%, 12%, 46%, 1);

/* RGB */
$color1: rgba(11, 0, 51, 1);
$color2: rgba(61, 184, 120, 1);
$color3: rgba(115, 238, 220, 1);
$color4: rgba(115, 194, 190, 1);
$color5: rgba(119, 104, 133, 1);